*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #b6b9bd;
}
nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}


@media screen and (max-width: 960px) {
    .topNavbar a {
      padding-left: 15px;
      padding-right: 15px;
      background-color: aqua;
      display: none;
      float: left;
    }
    .topNavbar a.icon {
      float: right;
      display: block;
      background-color: white;
    }
    .inPut{
      text-align: left;
      float: left;
    }
    
  }
  
  /* The "responsive" class is added to the topN.
  topNavbar with JavaScript when the user clicks on the icon. 
  This class makes the topN.topNavbar look good on small screens
   (display the links vertically instead of horizontally) */
  @media screen and (max-width: 960px) {
    .topNavbar.responsive {position: relative;}
    .topNavbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topNavbar.responsive a {
      float: right;
      display: block;
      text-align: left;
      width: 200px;
    }
  } 
.headingOne{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  text-shadow: black;
}


.wrapper {
  text-decoration: none !important;
    margin: 5em auto;
    max-width: 1000px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.header {
    padding: 30px 30px 0;
    text-align: center;
}

.header__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
}
.cardIcon{
  width:80px;
  height: 80px;
}
.cardIcon2{
  width: 40px;
  height: 40px;
}

.cardLink span{
    text-decoration: none !important;
    color: white;
}
.boxLink a:link{
  text-decoration: none !important;

}

.cards {
  text-decoration: none;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.card {
    text-decoration: none;
    margin: 15px;
    width: calc((100% / 3) - 30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
    .card {
        width: calc((100% / 2) - 30px);
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}

/*.card:hover .card__inner {
    background-color: #101111;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
*/
.card__inner {
    height: 200px;
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #000000;
    font-size: 1.1em;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.card__inner2 {
  height: 200px;
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.1em;
  text-decoration: none !important;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}




@media screen and (min-width: 992px) {
    .card:nth-of-type(3n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(3n+3) .card__expander {
        margin-left: calc(-200% - 60px);
    }
    .card:nth-of-type(3n+4) {
        clear: left;
    }
    .card__expander {
        width: calc(300% + 60px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(2n+3) {
        clear: left;
    }
    .card__expander {
        width: calc(200% + 30px);
    }
}


/*paragraph*/
/*.contentOne{
  font-size: 20px;
  font-family: 'Trispace', sans-serif;
  line-height: 1.5;
}
.contentBoxOne{
  margin-left: 24%;
  margin-right: 24%;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px rgb(0, 0, 0);
  padding: 20px 10px 20px 20px;
  border-radius: 0px;
  margin: 2px black;
}

@media screen and (max-width: 1000px){
  .contentBoxOne{
    margin-left: 1%;
    margin-right: 1%;
  }
}


.uploadFile{
  color: #000000;
  height: 50px;
}
.submitFile{
	padding-right: 8%;
	padding-left: 8%;
}

.uploadButton{
	width: 100%;
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe;
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
  }

  .uploadButton:hover{
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
  }*/

  .contentOne{
    font-size: 20px;
    font-family: 'Trispace', sans-serif;
    line-height: 1.5;
    color: grey;
  }
  .contentBoxOne{
    margin-left: 24%;
    margin-right: 24%;
    display: flex;
    flex-wrap: nowrap;
    background-color:transparent;
    box-shadow: 5px rgb(0, 0, 0);
    padding: 20px 10px 20px 20px;
    border-radius: 0px;
    margin: 2px black;
    margin-bottom: 5%;
  }
  
  @media screen and (max-width: 1000px){
    .contentBoxOne{
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 15%;
    }
  }

  .uploadBook{
    text-align: center;
    margin-bottom: 5%;
  }
  .uploadButton{
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #4d90fe;
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    width: auto;
  }
  
  .uploadButton:hover{
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
  }
  

/*footer*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerlogo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
.icongh, .icongm{
  height: 30px;
  width: 30px
}