/* Add a black background color to the top navigation */
.topNavbar {
    background-color: #ffffff;
    overflow: hidden;
    padding-left: 0%;
  }
  
  /* Style the links inside the navigation bar */
  .topNavbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 5px 50px 5px 0px;
    text-decoration: none;
    font-size: 15px;
  }

  .inPut{
    text-align: right;
    float: right;
  }
  
  /* Change the color of links on hover */
  .topNavbar a:hover {
    
    color: rgb(47, 2, 172);
  }

  /* Add a color to the active/current link */
  .topNavbar a.signup {
    color: blue;
  }
  .topNavbar a.login {
    color: blue;
  }
  .inPut a:hover{
    color: rgb(0, 255, 0);
  }
  

  /* Hide the link that should open and close the topN.topNavbar on small screens */
.topNavbar .icon {
    display: none;
  }

   /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topN.topNavbar (.icon) */
@media screen and (max-width: 960px) {
    .topNavbar a {
      padding-left: 15px;
      padding-right: 15px;
      background-color: aqua;
      display: none;
      float: left;
    }
    .topNavbar a.icon {
      float: right;
      display: block;
      background-color: white;
    }
    .inPut{
      text-align: left;
      float: left;
    }
    
  }
  
  /* The "responsive" class is added to the topN.topNavbar with JavaScript when the user clicks on the icon. This class makes the topN.topNavbar look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 960px) {
    .topNavbar.responsive {position: relative;}
    .topNavbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topNavbar.responsive a {
      float: right;
      display: block;
      text-align: left;
      width: 200px;
    }
  } 

/*header*/
.header{
  overflow: hidden;
  padding: 30px 0px 30px 0px;
  background-color: rgb(29, 21, 102);
  text-align: center;
  width: 100%;
  overflow:hidden;
}
.header a.logo{
  text-decoration: none;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
}

.headingOne , .headingTwo{
  text-align: center;
}
.contentOne{

  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

/*Card*/
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

/*.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}*/

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}